<!-- BARRA DE NAVEGACIÓN -->
<head>
  <!--ICONS-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
</head>


<!--NAV-->
<nav>
  <div class="navbar">
    <div class="navbar-a">
      <a href="/"><b>
        CONDOSA
      </b></a>
    </div>
    <div class="navbar-p">
      <p class="mp-0">
        Generación y emisión de recibos de mantenimiento
      </p>
    </div>
  </div>
</nav>

<div class="separador"></div>

<section>
  <div class="section0">
    <app-funciones-principales></app-funciones-principales>
  </div>
</section>